@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);
}

*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}
body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
    text-align: justify;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height: 1em;
}

#profile-pic{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
    border:2px;
    padding: 10px;
    background-color:rgb(186, 186, 186);
    border-radius: 30px;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

.Skills--category table {
    width: 100%;
    border-collapse: collapse;
}


.Skills--category td {
    padding: 8px; 
    vertical-align: top; 
    font-size: 18px; 
    color: var(--secondaryTextColor); 
}


.Skills--category .highlight {
    font-weight: bold;
}


.Skills--category td {
    border: 1px solid #ddd; 
}


.Skills--category .highlight {
    background-color: #f4f4f4; 
    padding: 10px; 
}

#college{
    margin-bottom: 10px;
}

#degree p {
    margin-top: 10px; 
}

#company--name{
    margin-bottom: 4px;
}

#company--profile{
    margin-top: 0px;
    margin-bottom: 4px;
}

#company--location {
    margin-top: 0px;
}
